
.gradient-background .container {
    background: linear-gradient(135deg, #95bfe3, #dfa4a4);
    padding: 20px;
    border-radius: 10px;
}

.navbar {
    background-color: #95bfe3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #95bfe3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gradient-background {
   background: linear-gradient(135deg, #95bfe3, #dfa4a4);
}