{% extends 'common/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1>{{ car.brand }}</h1>
                <p><strong>Category:</strong>
                    <a href="{% url 'category_detail' car.category.pk %}" class="btn btn-info btn-sm">
                        {{ car.category.name }}
                    </a>
                </p>
                <p><strong>Price:</strong> ${{ car.price }}</p>
                <p><strong>Description:</strong> {{ car.description }}</p>
                <p><strong>Available for Test Drive at the moment:</strong>
                    {% if car.available_for_test_drive %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{ car.image_url }}" alt="Image of {{ car.brand }}" class="img-fluid shadow-sm rounded">
            </div>
        </div>
    </div>
{% endblock %}

